$bigsize: 3em;
$brightthefuck: #00ff00;

@mixin flatten($styletype){
ul{		
	list-style-type: $styletype;
	li{
		display: inline;
		}
	}

}

h1{
	
	font-size: $bigsize;
}

body{
	@include flatten(square);
}

#footer{
	
	color: $brightthefuck;
	ul{
		font-size: 0.5em;
		@include flatten(none);
	}
}
