$bigsize: 3em;
$brightthefuck: #00ff00;
$paragraphsize:1em;

@mixin footer_list{
	float:left;
	ul{	
		float:left;
		padding-left: 0;	
		li{
			display: inline;
		}
	}

}

h1{
	
	font-size: $bigsize;
}

body{
		font-size: $paragraphsize;

}

#footer{
	color: $brightthefuck;
	@include footer_list;
}

li{
	&:hover{
		font-size: $paragraphsize*1.5
	}
}